body {
    font-family: 'Cinzel', serif;
    font-size: 250%;
    text-align: center ;
    background-color: #2A9D8F; 
    
}

h1 {    
    
    text-align: center;
    margin:0;
    width: 45%;
    background-color: #264653
    

    
};

.header{
    display: inline-flex;
    
   
}

.emoji1{
    max-height: 55px;
    max-width: 55px;
    display:flex;
    justify-content: space-evenly;   
}

.title{
    display:flex;
    justify-content: center;
   
}